/*---------BackGround---------*/
body {
    background-color: hsl(216, 12%, 8%);
}

.appBox {
    background-color: hsl(213, 19%, 18%);
    width: 17%;
    position: absolute;
    top: 50%;
    left: 30%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(50%, -50%);

    border-radius: 25px;
    padding: 30px;
}
/*---------BackGround---------*/

/*---------Star Logo----------*/
.starIconBall {
    display: inline-block;
    background-color: hsl(216, 12%, 34%);
    width: 40px;
    height: 40px;
    border-radius: 25px;

}
#starIcon {
    display: block;
    margin-left: 29%;
    margin-top: 28%;
}
/*---------Star Logo----------*/

/*-------thanks you image-----*/
#transactionImage {
    display: block;
    margin-left: 23%;
    margin-top: 5%;
    max-width: 100%;
    height: auto;
}
/*-------thanks you image-----*/

/*-----------texts------------*/
.textWhite {
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
}

.textGrey {
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
}

.whatYouSelectedText {
    background-color: hsl(216, 12%, 34%);
    color:hsl(25, 97%, 53%);
    text-align: center;
    width: 200px;
    height: 28px;
    border-radius: 25px;
    margin: auto;
    margin-top: 10%;
    line-height: 1.7;
    font-family: 'Overpass', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 10%;
}

.appreciationText {
    text-align: center;
    margin-bottom: 10%;
}
/*-----------texts------------*/

/*----------buttons-----------*/
.numberChoise {
    display: inline-block;
    background-color: hsl(216, 12%, 34%);
    width: 45px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    margin-left: 14px;
    line-height: 2.7;
    border-style: none;
    font-family: 'Overpass', sans-serif;
}
.numberChoise:focus {
    background-color: hsl(217, 12%, 63%);
}
.numberChoise:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

#submit {
    display: block;
    background-color: hsl(25, 97%, 53%);
    width: 93%;
    height: 40px;
    border-radius: 25px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: none;
}
#submit:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}
#submit:disabled {
    opacity: 0.5;
    background-color: hsl(25, 97%, 53%);
    color:hsl(0, 0%, 100%);
    cursor: not-allowed;
}
/*----------buttons-----------*/

/*----for gorup selection-----*/
.containerForThankYou {
    display: none;
}
/*----for gorup selection-----*/

@media only screen and (max-width: 1000px) {
    .whatYouSelectedText {
        width: 120px;
        height: 80px;
        padding: 5px 20px 5px 20px;
        font-family: 'Overpass', sans-serif;
    }
}

@media only screen and (max-width: 800px) {
    .whatYouSelectedText {
        width: 60px;
        height: 80px;
        padding: 5px 20px 60px 20px;
        font-family: 'Overpass', sans-serif;
    }
}